<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="" content="" />
    <meta
      name=""
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="" content="" />
    <meta itemprop="" content="" />
    <link rel="stylesheet" href="beach.css" />
    <link rel="" type="" href="" />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/ -->
    <title></title>
    <link href="style.css" rel="stylesheet" />

    <script src=""></script>
    <script src=""></script>
    <style>
      .isSelected {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <nav></nav>

    <div class="container workspace">
      <div class="row">
        <div class="col-md-5">
          <section id="templateOne">
            <p class="my-3 t-1">Content in Template 1</p>
          </section>
          <section id="templateTwo">
            <div class="row my-3 t-2">
              <div class="col-md-12">
                <span>Content in Template 2</span>
              </div>
            </div>
          </section>
          <section id="templateThree">
            <div class="row my-3 t-3">
              <div class="col-md-12 mb-4">
                <div class="card border-0 shadow">
                  <img src="giphy.gif" class="card-img-top" alt="..." />
                  <div class="card-body text-center">
                    <h5 class="card-title mb-0">Content in Template 3</h5>
                    <div class="card-text text-black-50">
                      Content in Template 3
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-2">
          <div class="row my-3">
            <button type="button" class="btn btn-primary clone-change">
              Clone & Change
            </button>
          </div>
          <div class="row my-3">
            <button type="button" class="btn btn-primary clone-1">
              Clone 1
            </button>
          </div>
          <div class="row my-3">
            <button type="button" class="btn btn-primary clone-2">
              Clone 2
            </button>
          </div>
          <div class="row my-3">
            <button type="button" class="btn btn-primary clone-3">
              Clone 3
            </button>
          </div>
          <div class="row my-3">
            <button type="button" class="btn btn-primary clear">Clear</button>
          </div>
        </div>
        //Create a Button named Clear with a class clear//
        <div class="col-md-5 clone-container"></div>
      </div>
    </div>
    <footer class="">
      <p class=""></p>
    </footer>

    <script id="">
      function startUp() {
        wireUpButtons();
      }

      function wireUpButtons() {
        $(".clone-1").on("click", onCloneTemplateOne);
        $(".clone-2").on("click", onCloneTemplateTwo);
        $(".clone-3").on("click", onCloneTemplateThree);

        $(".clear").on("click", onClearClicked);
        $(".clone-change").on("click", copyClone);
      }

      function getTemplate() {
        return $($("#templateThree").html()).clone();
      }

      function addCloneToDom(jqClone) {
        $(".clone-container").append(jqClone);
      }

      function changeCloneContent(jqClone) {
        jqClone.find(".card-title").html("New content");
        jqClone.find(".card-text").html("New content");
        jqClone.find(".card-img-top").attr("src", "");
      }

      var copyClone = function () {
        var newCloneItem = getTemplate();
        newCloneItem.html("");
        $(".clone-container").append(newCloneItem);
        addCloneToDom(newCloneItem);
      };

      function onCloneTemplateOne() {
        var templateHtml = $("#templateOne").html();
        var clone = $(templateHtml).clone();
        $(".clone-container").append(clone);
      }

      function onCloneTemplateTwo() {
        var templateHtml = $("#templateTwo").html();
        var clone = $(templateHtml).clone();
        $(".clone-container").append(clone);
        $(".clone-container").add(clone);
      }

      function onCloneTemplateThree() {
        var templateHtml = $("#templateThree").html();
        var clone = $(templateHtml).clone();
        $(".clone-container").append(clone);
      }

      function cloneAndAppendById(elmId) {
        var templhtml = $(elmId).htlm();
        var clone = $(templhtml).clone();
        $(".clone-container").append(clone);
      }

      function onClearClicked() {
        $(".clone-container").empty();
      }
    </script>
  </body>
</html>
