<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="" content="" />
    <meta
      name=""
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="" content="" />
    <meta itemprop="" content="" />
    <link rel="stylesheet" href="beach.css" />
    <link rel="" type="" href="" />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/ -->
    <title></title>
    <link href="style.css" rel="stylesheet" />

    <script src=""></script>
    <script src=""></script>
    <style>
      .isSelected {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <nav></nav>

    <div class="container main">
      <div class="row my-4 align-content-center text-center">
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary btn-lg" id="alpha">
            Alpha
          </button>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary btn-lg" id="beta">
            Beta
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-lg gamma" id="gamma">
            Gamma
          </button>
        </div>
      </div>

      <section id="members-container">
        <h1 id="childNotifications">Notifcations from any descendants</h1>
        <div class="row my-4 align-content-center text-center">
          <div id="msg" class="col"></div>
        </div>

        <div class="row team-members">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow">
              <img
                src="image_chairs.jpg"
                width="200"
                height="100"
                class="card-img-top item"
                alt="..."
              />
              <div class="card-body text-center">
                <h5 class="card-title mb-0 item">Team Member 1</h5>
                <div class="card-text text-black-50">Web Developer</div>
                <button
                  type="button"
                  class="btn btn-primary btn-sm m-3 item"
                  id="cmdClick"
                >
                  Click to Select
                </button>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow">
              <img
                src="image_games.jpg"
                width="300"
                height="150"
                class="card-img-top item"
                alt="..."
              />
              <div class="card-body text-center">
                <h5 class="card-title mb-0 item">Team Member 2</h5>
                <div class="card-text text-black-50">Web Developer</div>
                <button
                  type="button"
                  class="btn btn-primary btn-sm m-3 item"
                  id="cmdDoubleClick"
                >
                  Double Click to Select
                </button>
              </div>
            </div>
          </div>
          <!-- Team Member 3 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow">
              <img
                src="image_games2.jpg"
                width="200"
                height="100"
                class="card-img-top item"
                alt="..."
              />
              <div class="card-body text-center">
                <h5 class="card-title mb-0 item">Team Member 3</h5>
                <div class="card-text text-black-50">Web Developer</div>
                <button
                  type="button"
                  class="btn btn-primary btn-sm m-3 item"
                  id="cmdMouse"
                >
                  Mouse Over
                </button>
              </div>
            </div>
          </div>
          <!-- Team Member 4 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow">
              <img
                src="image_candy.jpg"
                width="200"
                height="100"
                class="card-img-top item"
                alt="..."
              />
              <div class="card-body text-center">
                <h5 class="card-title mb-0 item">Team Member 4</h5>
                <div class="card-text text-black-50">Web Developer</div>
                <button
                  type="button"
                  class="btn btn-primary btn-sm m-3 item"
                  id="cmdCtrl"
                >
                  CTRL + Click to Select
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    >

    <footer class="">
      <p class=""></p>
    </footer>

    <script>
      function startUp() {
        wireUpHandlers();
      }

      function wireUpHandlers() {
        $("#alpha").on("click", onAlphaClicked);
        $("#beta").on("click", onBetaClicked);
        $("#gamma").on("click", onGammaClicked);

        $("#cmdClick").on("click", onProfileSelected);

        $("#cmdMouse").on("mouseover mouseout", onProfileSelected);
        $("#cmdDoubleClick").on("dblclick", onProfileSelected);

        $("#cmdCtrl").on("click", onProfileSelected);

        $("#members-container").on("click", ".item", onChildClicked);
      }

      function onAlphaClicked(e) {
        console.log("alpha");
        e.preventDefault();
      }

      function onBetaClicked(e) {
        console.log("beta");
        e.preventDefault();
      }

      function onGammaClicked(e) {
        console.log("gama");
        e.preventDefault();
      }

      function showMessage(elementId, isSelected) {
        $("#msg").html(`${elementId} selected = ${isSelected}`);
      }

      function onProfileSelected(e) {
        if (e.currentTarget.id === "cmdCtrl") {
          e.ctrlKey && $(this).closest(".card").toggleClass("isSelected");
        } else {
          $(this).closest(".card").toggleClass("isSelected");
        }

        var isThisSelected = $(this).closest(".card").hasClass("isSelected");

        showMessage(e.currentTarget.id, isThisSelected);
      }

      function onChildClicked(e) {
        $("#childNotifications").text(
          `${e.currentTarget.tagName} was last clicked`
        );
      }
    </script>
  </body>
</html>
